#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [2]:
users = pd.read_csv('https://raw.githubusercontent.com/renatorbf/lab-data-cleaning/master/your-code/users_table.csv')

#### 3. Rename Id column to userId

In [4]:
users.rename(columns={'Id':'userId'}, inplace=True)

   userId  Reputation  ...   Age                     ProfileImageUrl
0      -1           1  ...   NaN                                 NaN
1       2         101  ...  37.0                                 NaN
2       3         101  ...  35.0                                 NaN
3       4         101  ...  28.0  http://i.stack.imgur.com/d1oHX.jpg
4       5        6792  ...  35.0                                 NaN

[5 rows x 14 columns]

#### 4. Import posts table:

In [5]:
posts = pd.read_csv('https://raw.githubusercontent.com/renatorbf/lab-data-cleaning/master/your-code/posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [6]:
posts.rename(columns={'Id':'postId'}, inplace=True)

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

#### 8. How many missing values do you have in your merged dataframe? On which columns?

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?