#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [2]:
users = pd.read_csv('https://raw.githubusercontent.com/renatorbf/lab-data-cleaning/master/your-code/users_table.csv')

#### 3. Rename Id column to userId

In [3]:
users.rename(columns={'Id':'userId'}, inplace=True)

#### 4. Import posts table:

In [4]:
posts = pd.read_csv('https://raw.githubusercontent.com/renatorbf/lab-data-cleaning/master/your-code/posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [5]:
posts.rename(columns={'Id':'postId'}, inplace=True)
posts.rename(columns={'OwnerUserId':'userId'}, inplace=True)

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [6]:
new_users = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]

new_posts = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [30]:
merged = pd.merge(left= new_users,
         right= new_posts,
         left_on = 'userId',
         right_on = 'userId')

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [31]:
merged.isnull().value_counts()

userId  Reputation  Views  UpVotes  DownVotes  postId  Score  ViewCount  CommentCount
False   False       False  False    False      False   False  True       False           23572
                                                              False      False           15390
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [32]:
# we are only missing the ViewCount, as the number of missing values is high (over 50%) we can drop them

merged = merged.drop(columns='ViewCount')
merged

       userId  Reputation  Views  ...  postId  Score  CommentCount
0          -1           1      0  ...    2175      0             0
1          -1           1      0  ...    8576      0             0
2          -1           1      0  ...    8578      0             0
3          -1           1      0  ...    8981      0             0
4          -1           1      0  ...    8982      0             0
...       ...         ...    ...  ...     ...    ...           ...
38957   45934          11      1  ...   34003      1             2
38958   46192          36      1  ...   40667      5             2
38959   46522         235     13  ...   17461      3             0
38960   52371         221      2  ...   27237     24             5
38961   55226         119      2  ...   16176      1             0

[38962 rows x 8 columns]

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [34]:
merged.dtypes

# i think these types are ok

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
CommentCount    int64
dtype: object